*.swp
*.swo
*~
*.log
*.o

autom4te.cache
stamp-h1
config.h
config.h.in
config.status
config.guess
config.sub
configure
compile
aclocal.m4
Makefile
Makefile.in
.deps
depcomp
install-sh
missing
src/tdse
