*.swp
*.swo
*~
*.log
*.o
*.tar.gz

autom4te.cache
stamp-h1
config.h
config.h.in
config.status
config.guess
config.sub
configure
compile
aclocal.m4
Makefile
Makefile.in
.deps
depcomp
install-sh
missing
ar-lib
src/libtdse.a
src/demo/demo
